In [1]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.datasets import make_classification
#from sklearn.ensemble import DecisionTreeRegressor
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import numpy as np
import string
import csv
import sys

C:\Users\Sohrab-PC\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
kdd_info = pd.read_csv('Shanxi-station_day-Taiyuan.csv')

In [3]:
kdd_info.head()
kdd_info.count()

province        2904
city            2904
city_code       2904
station         2904
station code    2904
aqi             2904
so2_24h         2904
no2_24h         2904
co_24h          2904
o3_24h          2904
o3_8h_24h       2904
pm2_5_24h       2904
pm10_24h        2904
Weekday         2904
Month           2904
Date            2904
Year            2904
dtype: int64

In [4]:
kdd_info.describe()

,city_code,station code,aqi,so2_24h,no2_24h,co_24h,o3_24h,o3_8h_24h,pm2_5_24h,pm10_24h,Weekday,Month,Date,Year
count,2904.0,2904.000000,2904.000000,2904.00000,2904.000000,2904.000000,2904.000000,2904.000000,2904.000000,2904.000000,2904.000000,2904.000000,2904.000000,2904.0
mean,140100.0,1085.375000,87.681939,65.59022,42.662879,1.470663,94.056474,77.408402,63.299242,118.204545,0.716253,6.476584,15.694215,2016.0
std,0.0,2.497303,46.183062,73.84401,22.496120,0.854661,52.518660,44.942860,53.357615,76.709725,0.450893,3.441775,8.812833,0.0
min,140100.0,1081.000000,17.000000,2.00000,2.000000,0.137000,1.000000,1.000000,3.000000,7.000000,0.000000,1.000000,1.000000,2016.0
25%,140100.0,1083.750000,58.000000,19.00000,27.000000,0.862000,53.000000,41.000000,29.000000,64.000000,0.000000,3.000000,8.000000,2016.0
50%,140100.0,1085.500000,79.720000,37.00000,39.000000,1.242000,85.000000,73.000000,48.000000,102.000000,1.000000,6.000000,16.000000,2016.0
75%,140100.0,1087.250000,103.000000,82.00000,55.000000,1.848000,128.000000,107.000000,78.000000,149.000000,1.000000,9.000000,23.000000,2016.0
max,140100.0,1089.000000,361.000000,582.00000,141.000000,5.513000,303.000000,232.000000,414.000000,541.000000,1.000000,12.000000,31.000000,2016.0

In [5]:
kdd_info.shape
#train.drop('aqi',axis=1, inplace=True)
#kdd_info.drop('pubtime', axis=1, inplace=True)
#kdd_info.drop('city_code', axis=1, inplace=True)
#kdd_info.drop('station_code', axis=1, inplace=True)
kdd_info.drop('station', axis=1, inplace=True)
kdd_info.drop('city', axis=1, inplace=True)
kdd_info.drop('province', axis=1, inplace=True)
kdd_info.drop('o3_8h_24h', axis=1, inplace=True)
kdd_info.count()

city_code       2904
station code    2904
aqi             2904
so2_24h         2904
no2_24h         2904
co_24h          2904
o3_24h          2904
pm2_5_24h       2904
pm10_24h        2904
Weekday         2904
Month           2904
Date            2904
Year            2904
dtype: int64

In [6]:
imputed_DF = kdd_info
'''
from sklearn.preprocessing import Imputer

imp = Imputer(missing_values='NaN', strategy='mean', axis=1)
#imputed_DF = pd.DataFrame(imp.fit_transform(kdd_info))
imputed_DF['aqi'] = pd.DataFrame(imp.fit_transform(imputed_DF['aqi']).ravel())
imputed_DF['so2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['so2_24h']).ravel())
imputed_DF['no2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['no2_24h']).ravel())
imputed_DF['co_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['co_24h']).ravel())
imputed_DF['o3_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['o3_24h']).ravel())
imputed_DF['pm2_5_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm2_5_24h']).ravel())
imputed_DF['pm10_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm10_24h']).ravel())

#Converting float pubtime to DateTime format
#imputed_DF['pubtime'] = pd.to_datetime(imputed_DF['pubtime'], format='%m/%d/%Y')
#imputed_DF['pubtime'] = imputed_DF['pubtime'].dt.total_seconds()

imputed_DF.columns = kdd_info.columns
imputed_DF.index = kdd_info.index
imputed_DF.count()
imputed_DF.count()

#kdd_info.describe()
'''

"\nfrom sklearn.preprocessing import Imputer\n\nimp = Imputer(missing_values='NaN', strategy='mean', axis=1)\n#imputed_DF = pd.DataFrame(imp.fit_transform(kdd_info))\nimputed_DF['aqi'] = pd.DataFrame(imp.fit_transform(imputed_DF['aqi']).ravel())\nimputed_DF['so2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['so2_24h']).ravel())\nimputed_DF['no2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['no2_24h']).ravel())\nimputed_DF['co_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['co_24h']).ravel())\nimputed_DF['o3_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['o3_24h']).ravel())\nimputed_DF['pm2_5_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm2_5_24h']).ravel())\nimputed_DF['pm10_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm10_24h']).ravel())\n\n#Converting float pubtime to DateTime format\n#imputed_DF['pubtime'] = pd.to_datetime(imputed_DF['pubtime'], format='%m/%d/%Y')\n#imputed_DF['pubtime'] = imputed_DF['pubtime'].dt.total_seconds()\n\nimputed_DF.columns = kdd_info.columns\nimputed_DF.index = kdd_info.index\nimputed_DF.count()\nimputed_DF.count()\n\n#kdd_info.describe()\n"

In [7]:
train, test = train_test_split(imputed_DF, test_size = 0.3)

train.to_csv('new1_train_data.csv')
test.to_csv('new_test_data.csv')

In [8]:
train.shape

(2032, 13)

In [9]:
train = train.dropna()
train.shape

(2032, 13)

In [10]:
train.head(5)

,city_code,station code,aqi,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,Weekday,Month,Date,Year
1383,140100,1089,66.00,24,46,1.190,205,30,74,1,6,21,2016
2790,140100,1085,82.83,283,93,3.512,16,182,253,0,12,10,2016
2854,140100,1087,68.73,116,47,1.700,52,63,134,1,12,28,2016
426,140100,1085,48.00,27,14,0.764,54,19,56,0,2,20,2016
1461,140100,1087,71.00,15,43,1.249,170,32,92,1,7,1,2016

In [11]:
train.columns

Index(['city_code', 'station code', 'aqi', 'so2_24h', 'no2_24h', 'co_24h',
       'o3_24h', 'pm2_5_24h', 'pm10_24h', 'Weekday', 'Month', 'Date', 'Year'],
      dtype='object')

In [12]:
# creating response vector to train our model
#response_vector=pd.DataFrame(np.array(train['aqi']),columns=['aqi'])
response_vector=pd.DataFrame(train['aqi'],columns=['aqi'])
response_vector.loc[response_vector['aqi']==1]
response_vector.head(30)
response_vector.count()

aqi    2032
dtype: int64

In [13]:
test_df1=pd.read_csv('new_test_data.csv')
test_df1.describe()

,Unnamed: 0,city_code,station code,aqi,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,Weekday,Month,Date,Year
count,872.000000,872.0,872.000000,872.000000,872.000000,872.000000,872.000000,872.000000,872.000000,872.000000,872.000000,872.000000,872.000000,872.0
mean,1400.061927,140100.0,1085.463303,89.280745,63.713303,42.026376,1.457474,94.305046,62.577982,118.925459,0.706422,6.271789,15.572248,2016.0
std,837.649323,0.0,2.471148,48.682206,70.570370,22.163167,0.847987,51.675074,50.975453,77.492581,0.455662,3.424197,8.705637,0.0
min,0.000000,140100.0,1081.000000,17.000000,2.000000,2.000000,0.196000,6.000000,4.000000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,699.750000,140100.0,1084.000000,58.750000,19.000000,26.000000,0.839750,53.000000,29.000000,65.000000,0.000000,3.000000,8.000000,2016.0
50%,1384.000000,140100.0,1086.000000,79.720000,36.000000,38.000000,1.226000,86.000000,47.000000,100.500000,1.000000,6.000000,16.000000,2016.0
75%,2117.750000,140100.0,1088.000000,105.000000,77.000000,54.000000,1.869000,129.000000,78.250000,150.000000,1.000000,9.000000,23.000000,2016.0
max,2900.000000,140100.0,1089.000000,326.000000,430.000000,124.000000,5.146000,263.000000,366.000000,497.000000,1.000000,12.000000,31.000000,2016.0

In [14]:
train.drop('aqi',axis=1, inplace=True)
train.shape

(2032, 12)

In [15]:
train.head(5)

,city_code,station code,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,Weekday,Month,Date,Year
1383,140100,1089,24,46,1.190,205,30,74,1,6,21,2016
2790,140100,1085,283,93,3.512,16,182,253,0,12,10,2016
2854,140100,1087,116,47,1.700,52,63,134,1,12,28,2016
426,140100,1085,27,14,0.764,54,19,56,0,2,20,2016
1461,140100,1087,15,43,1.249,170,32,92,1,7,1,2016

In [16]:
test.columns

Index(['city_code', 'station code', 'aqi', 'so2_24h', 'no2_24h', 'co_24h',
       'o3_24h', 'pm2_5_24h', 'pm10_24h', 'Weekday', 'Month', 'Date', 'Year'],
      dtype='object')

In [17]:
test.drop('aqi',axis=1, inplace=True)
test.shape

C:\Users\Sohrab-PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

(872, 12)

In [18]:
from sklearn.tree import DecisionTreeRegressor
rfc=DecisionTreeRegressor()

In [19]:
rfc.fit(train,response_vector.values.ravel())
#rfc.fit(train,response_vector)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [20]:
predict_rfc =rfc.predict(test)

In [21]:
predict_rfc.shape
print(predict_rfc)

[  58.    103.     59.    104.     90.     50.     76.     75.     49.
  129.    113.     62.     66.    136.     74.     93.    188.     67.
   90.23   73.     82.83   55.    255.     95.     42.    108.     63.
   75.     82.83   25.     62.    132.     81.     62.     90.     34.
  167.     52.    112.    151.     60.    118.     88.    117.     72.
   24.     76.     47.     44.    327.    175.     58.     87.    132.
   63.     63.     78.     49.     60.    100.    163.     56.     83.2
   92.     54.9   134.     34.     34.     64.     41.    129.     54.
   59.     36.     75.    203.    102.     74.     66.     79.72  105.
   81.    109.    214.    242.     94.    131.17  108.    288.    272.
   82.83   84.     54.     30.     39.     86.    112.     46.    253.
   22.     55.     54.     75.    120.    136.     77.    110.    101.
   35.     90.23   57.     66.     43.     75.    242.     79.     77.
  110.    126.     54.9    83.     68.     84.    309.     58.     38.
   65.     39.     22.    101.     51.     70.    113.     47.     97.
  149.     65.     66.     34.     41.    149.    101.     52.     22.
  116.     61.     79.    205.     96.    358.    132.     68.73  158.
   95.     67.    167.    113.     86.     70.    180.     57.     83.2
   87.     44.     65.     68.31  137.     75.     90.23  236.    294.
   84.     88.     73.     79.     35.     72.    101.     69.     63.
  100.     45.     94.     90.23  203.     43.     38.    131.17   30.
   63.     46.    141.    116.    100.     29.    131.17   58.     79.
  106.     50.     88.     76.     76.     72.     85.    149.     86.
   71.    108.     46.     69.     79.     94.     64.     54.9    56.
   71.     59.    119.     54.     78.     88.     51.     77.     41.
  288.     40.     68.73  159.    155.    116.    108.     86.     88.
   64.     73.    100.    219.     32.     78.    132.     64.     59.
   82.     50.    116.     38.     85.     35.     71.     50.     99.
  152.    185.    125.    158.     43.     79.72  219.    203.     84.25
   94.     63.     59.     79.    160.     84.    118.     85.     41.
   98.     79.72   53.     38.    158.     45.    105.    111.     69.
   54.    214.     39.    175.     71.     55.     69.     50.    124.
   82.     78.    111.    106.     90.23   99.     83.    139.    101.
   83.2    63.     87.     68.     98.     38.    119.     42.     79.
  116.     88.     48.    136.     69.     57.    132.    160.     77.
   92.     68.73  100.     43.     62.     81.     81.     84.25  163.
   95.    103.     67.     83.2    67.     47.     32.     72.    160.
  251.     54.9    43.     75.     90.23   34.    170.     80.    199.
   86.    152.     48.     36.     39.     83.     65.     85.     55.
   73.     83.     86.    105.    307.     56.     83.2   135.    329.
   66.    122.     86.     62.     49.    119.     45.     66.    111.
   52.     77.    111.     66.     86.     78.    143.     68.31  124.
   88.    109.     34.     45.     70.     87.     49.     89.     79.72
   68.    100.     83.2    85.     29.     19.     82.83   48.     95.
   62.     99.     58.     37.    104.     70.    129.     63.    108.
   73.    151.    117.     93.     56.    130.     76.     50.     84.25
   75.    131.17   79.72  154.     48.    219.     55.    175.    274.
   25.     36.    100.     63.     46.    180.     66.     83.2    47.
   91.    125.     80.     54.9    82.83   82.    112.    126.     68.31
   37.     44.     20.     92.     46.    107.     71.     47.    114.
   68.31  103.    131.17   75.     44.     95.     61.     85.     25.
   45.     85.    214.     45.     64.     68.31   49.     74.     85.
   85.     45.     85.    120.     77.     82.    139.     70.    116.
   39.     50.     83.     48.     55.    102.     38.    102.     85.
  155.     98.     36.     83.2    54.     65.     67.     91.     60.
  104.     91.     71.     64.     82.83   82.83   44.     55.    112.
   45.    145.     55.    210.     29.     92.     43.     68.31   81.
   38.     78.    100.     72.    108.     25.     92.     79.72   67.
   76.     77.     34.     86.    185.     40.     64.     54.    135.
   61.     59.     55.    132.     79.72   62.     40.     30.     81.
   79.72  110.    108.    132.     68.     83.     70.    117.     68.
   70.     72.     74.    116.     93.     54.9    78.     96.     57.
   68.73  171.     36.    211.    101.     45.     30.     79.72  219.
   34.    113.     77.     53.     93.     56.     63.     84.25   49.
  211.     93.    129.    110.    108.     56.     68.     64.     85.
   74.    114.    111.     32.     63.     85.    101.     97.    107.
   41.     29.    204.     85.     75.    181.    157.    112.    180.
  131.17   44.     53.     95.    103.     95.     60.    135.     75.
   83.2    74.     72.     38.     59.    160.     90.     37.    109.
   92.     86.     67.     30.     59.     30.     78.     31.    122.
   67.     44.     82.83  114.     26.     63.    159.    104.    171.
   99.    252.     87.     85.     76.     73.    188.    184.    206.
  115.     90.     75.     82.     73.    175.     71.     36.     29.
  144.    116.     24.     61.     64.     57.     67.     44.     51.
  107.    113.    103.     92.     60.     61.     45.     60.     55.
   91.     51.     76.     34.     54.    130.    124.    137.    110.
  182.     79.    116.     70.     49.     79.72  211.    100.     88.
   52.    112.     93.    104.    159.    115.    142.     46.     64.
  224.     84.25  124.     56.     51.     64.     67.     88.     38.
  112.     60.    136.     67.     78.     99.     64.     59.    109.
   76.    175.     84.     71.     32.    125.    118.     74.     74.
   87.     72.     40.     82.83   83.     42.     64.     79.     58.
   54.     58.     46.    146.     95.     42.     60.     83.     71.
   86.     50.    116.     97.     95.     88.     53.     87.    182.
   87.     72.     68.73   99.     37.     45.    110.    108.     59.
  111.     62.     67.    100.    132.    114.     84.    163.     47.
   73.     79.    114.     30.     78.     87.     55.     65.    121.
  108.     58.    158.     50.     81.     63.     61.     66.     62.
   41.     45.     78.    106.    185.     92.    101.     75.    107.
   69.     49.     72.     68.31   17.    107.     40.     71.     76.
   50.     71.     57.     88.     81.     90.23   38.    163.    118.
   32.     62.     78.     84.    272.     87.    101.    184.     98.
  132.     90.23   36.    118.     99.     51.    101.     68.73   38.
   30.     27.    137.    136.     46.     49.    101.    189.     40.
  255.     71.     58.    121.     69.     71.     78.     58.     84.
   18.     56.     54.9    56.     80.     49.     90.23   80.    187.
   54.    103.     54.     65.     54.    149.     71.    158.  ]

In [22]:
#accuracy_score(test_df1.aqi,predict_rfc)
#accuracy_score(test_df1.aqi,predict_rfc.round(), normalize=False)
from sklearn.metrics import mean_absolute_error
mean_absolute_error(test_df1.aqi,predict_rfc, multioutput='raw_values')
#mean_absolute_error(test_df1.aqi,predict_rfc.round())
#mean_absolute_error(test_df1.aqi,predict_rfc.round(),multioutput=[0.3, 0.7])

array([ 3.48771789])

In [23]:
#print(classification_report(test_df1.aqi,predict_rfc))
#print(test_df1)
#print(predict_rfc)

c=0
import math
predictionsArr = np.asarray(predict_rfc, dtype="|f8")
realArr = np.asarray(test_df1.aqi, dtype="|f8")

for x in range(0,len(predictionsArr)):
    c += math.fabs((predictionsArr[x]-realArr[x]))
print(100 - c/len(predict_rfc))
c=0
for x in range(0,len(predictionsArr)):
    c += (math.fabs((predictionsArr[x]-realArr[x]))/realArr[x])*100
print(100 - c/len(predict_rfc))

96.51228211009175
95.6505660742