In [1]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.datasets import make_classification
#from sklearn.ensemble import DecisionTreeRegressor
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import numpy as np
import string
import csv
import sys

C:\Users\Sohrab-PC\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
kdd_info = pd.read_csv('Mean-2016.csv')

In [3]:
kdd_info.head()
kdd_info.count()

province        3262
city            3262
city_code       3262
station         3262
station_code    3262
aqi             3262
so2_24h         3262
no2_24h         3262
co_24h          3262
o3_24h          3262
o3_8h_24h       3262
pm2_5_24h       3262
pm10_24h        3262
pubtime         3262
dtype: int64

In [4]:
kdd_info.describe()

,city_code,station_code,aqi,so2_24h,no2_24h,co_24h,o3_24h,o3_8h_24h,pm2_5_24h,pm10_24h,pubtime
count,3262.0,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000
mean,140100.0,1085.021153,89.063458,65.525138,42.598712,1.470230,93.976701,77.303495,63.246168,118.125690,42550.908645
std,0.0,2.579110,43.257854,69.686074,21.243320,0.806947,49.588748,42.436227,50.362066,72.454595,104.941176
min,140100.0,1081.000000,17.000000,2.000000,2.000000,0.137000,1.000000,1.000000,3.000000,7.000000,42370.000000
25%,140100.0,1083.000000,62.000000,21.000000,28.250000,0.904000,57.000000,44.250000,31.000000,69.000000,42460.000000
50%,140100.0,1085.000000,90.000000,44.000000,42.000000,1.345000,94.000000,77.000000,54.000000,111.000000,42551.000000
75%,140100.0,1087.000000,98.000000,74.000000,52.000000,1.737000,123.000000,102.000000,72.000000,141.000000,42641.000000
max,140100.0,1089.000000,361.000000,582.000000,141.000000,5.513000,303.000000,232.000000,414.000000,541.000000,42735.000000

In [5]:
kdd_info.shape
#train.drop('aqi',axis=1, inplace=True)
#kdd_info.drop('pubtime', axis=1, inplace=True)
#kdd_info.drop('city_code', axis=1, inplace=True)
#kdd_info.drop('station_code', axis=1, inplace=True)
kdd_info.drop('station', axis=1, inplace=True)
kdd_info.drop('city', axis=1, inplace=True)
kdd_info.drop('province', axis=1, inplace=True)
kdd_info.drop('o3_8h_24h', axis=1, inplace=True)
kdd_info.count()

city_code       3262
station_code    3262
aqi             3262
so2_24h         3262
no2_24h         3262
co_24h          3262
o3_24h          3262
pm2_5_24h       3262
pm10_24h        3262
pubtime         3262
dtype: int64

In [6]:
imputed_DF = kdd_info
'''
from sklearn.preprocessing import Imputer

imp = Imputer(missing_values='NaN', strategy='mean', axis=1)
#imputed_DF = pd.DataFrame(imp.fit_transform(kdd_info))
imputed_DF['aqi'] = pd.DataFrame(imp.fit_transform(imputed_DF['aqi']).ravel())
imputed_DF['so2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['so2_24h']).ravel())
imputed_DF['no2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['no2_24h']).ravel())
imputed_DF['co_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['co_24h']).ravel())
imputed_DF['o3_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['o3_24h']).ravel())
imputed_DF['pm2_5_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm2_5_24h']).ravel())
imputed_DF['pm10_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm10_24h']).ravel())

#Converting float pubtime to DateTime format
#imputed_DF['pubtime'] = pd.to_datetime(imputed_DF['pubtime'], format='%m/%d/%Y')
#imputed_DF['pubtime'] = imputed_DF['pubtime'].dt.total_seconds()

imputed_DF.columns = kdd_info.columns
imputed_DF.index = kdd_info.index
imputed_DF.count()
imputed_DF.count()

#kdd_info.describe()
'''

"\nfrom sklearn.preprocessing import Imputer\n\nimp = Imputer(missing_values='NaN', strategy='mean', axis=1)\n#imputed_DF = pd.DataFrame(imp.fit_transform(kdd_info))\nimputed_DF['aqi'] = pd.DataFrame(imp.fit_transform(imputed_DF['aqi']).ravel())\nimputed_DF['so2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['so2_24h']).ravel())\nimputed_DF['no2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['no2_24h']).ravel())\nimputed_DF['co_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['co_24h']).ravel())\nimputed_DF['o3_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['o3_24h']).ravel())\nimputed_DF['pm2_5_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm2_5_24h']).ravel())\nimputed_DF['pm10_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm10_24h']).ravel())\n\n#Converting float pubtime to DateTime format\n#imputed_DF['pubtime'] = pd.to_datetime(imputed_DF['pubtime'], format='%m/%d/%Y')\n#imputed_DF['pubtime'] = imputed_DF['pubtime'].dt.total_seconds()\n\nimputed_DF.columns = kdd_info.columns\nimputed_DF.index = kdd_info.index\nimputed_DF.count()\nimputed_DF.count()\n\n#kdd_info.describe()\n"

In [7]:
train, test = train_test_split(imputed_DF, test_size = 0.3)

train.to_csv('new1_train_data.csv')
test.to_csv('new_test_data.csv')

In [8]:
train.shape

(2283, 10)

In [9]:
train = train.dropna()
train.shape

(2283, 10)

In [10]:
train.head(5)

,city_code,station_code,aqi,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,pubtime
522,140100,1088,52,36,25,2.341,91,21,59,42423
210,140100,1084,86,99,30,2.367,59,64,97,42394
2014,140100,1088,88,24,70,1.039,210,58,114,42593
2157,140100,1087,58,20,46,0.846,87,16,70,42609
2522,140100,1083,32,8,16,0.630,80,16,30,42650

In [11]:
train.columns

Index(['city_code', 'station_code', 'aqi', 'so2_24h', 'no2_24h', 'co_24h',
       'o3_24h', 'pm2_5_24h', 'pm10_24h', 'pubtime'],
      dtype='object')

In [12]:
# creating response vector to train our model
#response_vector=pd.DataFrame(np.array(train['aqi']),columns=['aqi'])
response_vector=pd.DataFrame(train['aqi'],columns=['aqi'])
response_vector.loc[response_vector['aqi']==1]
response_vector.head(30)
response_vector.count()

aqi    2283
dtype: int64

In [13]:
test_df1=pd.read_csv('new_test_data.csv')
test_df1.describe()

,Unnamed: 0,city_code,station_code,aqi,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,pubtime
count,979.000000,979.0,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000
mean,1680.627171,140100.0,1085.026558,89.837589,68.582227,44.108274,1.503817,93.324821,64.570991,121.353422,42556.481103
std,949.704963,0.0,2.596858,44.422276,74.628693,22.138034,0.817447,50.177239,51.409736,75.676443,105.752723
min,1.000000,140100.0,1081.000000,17.000000,3.000000,2.000000,0.262000,1.000000,5.000000,8.000000,42370.000000
25%,880.000000,140100.0,1083.000000,64.000000,22.000000,30.000000,0.917500,56.000000,33.000000,70.000000,42467.500000
50%,1714.000000,140100.0,1085.000000,90.000000,46.000000,42.000000,1.379000,93.000000,54.000000,113.000000,42560.000000
75%,2518.500000,140100.0,1087.000000,96.000000,75.500000,54.000000,1.768500,124.500000,72.000000,143.500000,42649.000000
max,3258.000000,140100.0,1089.000000,361.000000,582.000000,141.000000,5.513000,303.000000,380.000000,497.000000,42735.000000

In [14]:
train.drop('aqi',axis=1, inplace=True)
train.shape

(2283, 9)

In [15]:
train.head(5)

,city_code,station_code,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,pubtime
522,140100,1088,36,25,2.341,91,21,59,42423
210,140100,1084,99,30,2.367,59,64,97,42394
2014,140100,1088,24,70,1.039,210,58,114,42593
2157,140100,1087,20,46,0.846,87,16,70,42609
2522,140100,1083,8,16,0.630,80,16,30,42650

In [16]:
test.columns

Index(['city_code', 'station_code', 'aqi', 'so2_24h', 'no2_24h', 'co_24h',
       'o3_24h', 'pm2_5_24h', 'pm10_24h', 'pubtime'],
      dtype='object')

In [17]:
test.drop('aqi',axis=1, inplace=True)
test.shape

C:\Users\Sohrab-PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

(979, 9)

In [18]:
from sklearn.tree import DecisionTreeRegressor
rfc=DecisionTreeRegressor()

In [19]:
rfc.fit(train,response_vector.values.ravel())
#rfc.fit(train,response_vector)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [20]:
predict_rfc =rfc.predict(test)

In [21]:
predict_rfc.shape
print(predict_rfc)

[  65.   92.  122.  325.   70.  122.   96.  219.  154.   76.  101.   92.
   92.  100.   92.   53.  169.   68.  105.   92.   44.   92.   92.   92.
  181.   54.   92.   18.   42.  326.   76.   66.  115.   92.   54.   92.
  308.  163.  115.   88.   92.  181.  308.  130.   30.   66.   92.   37.
   36.   46.  109.  100.   66.   92.   63.   92.  151.   75.   60.   40.
   44.   57.   85.  118.   74.   92.   86.   59.   80.  144.   54.   76.
   69.   70.   93.   92.   49.  139.   92.   79.   95.  170.   95.   78.
   57.   75.   42.   65.   55.   76.   37.  148.   98.  207.   92.   92.
  138.   73.   90.   78.   53.   59.   36.   50.   92.  123.   82.   78.
   82.   94.   49.   97.   92.   91.   41.   69.  124.   79.  100.   85.
   59.   34.   77.   81.   91.   50.   96.   82.  102.   98.   61.   92.
   51.   41.   92.  138.   74.  151.   29.   80.   43.   72.   65.   92.
  205.  101.   92.  113.   59.   49.   92.   92.  107.   84.   72.  235.
   80.   92.   76.   63.  254.   92.   56.   54.   74.  185.   44.   92.
  105.   61.   48.  170.  136.   77.   56.   90.   86.   56.   67.   32.
   80.   93.   92.   93.   76.   31.   66.  125.   27.   92.   92.   58.
   99.   60.  102.  116.   92.   60.  120.   82.   92.   58.   97.  307.
   92.  113.   35.   69.   92.   54.   53.  100.   37.   84.   92.   92.
  172.   50.   68.   51.  134.   53.   80.   63.  125.  113.   68.   92.
   97.   94.  131.  157.  109.   55.   88.   74.   49.   60.   92.   83.
   77.   81.   86.   38.   62.   76.   92.  185.   92.   53.  110.   56.
   92.   91.   68.  140.   92.   91.   92.  113.   92.   48.   66.  124.
   95.  109.   92.  157.   72.   92.   86.   92.   92.   62.  116.   68.
   73.   92.   92.   88.  239.   46.  115.  117.   55.   92.  255.   56.
   70.   92.   92.   87.   91.   86.   70.   95.   49.   22.   92.   47.
  115.   92.   62.  164.  204.   77.   52.   70.  170.   75.   59.   92.
   78.   44.   23.   80.   87.   96.   92.   69.  131.   54.   92.   92.
   44.   92.  119.   92.   67.   92.   86.   92.   91.   61.   45.   70.
   94.   58.   92.   92.   33.  119.   84.  133.  132.   92.  110.  101.
   84.   49.   56.  116.   85.  123.   58.   23.   89.   47.   73.  100.
  144.   36.  102.   69.   79.   84.   51.   92.   95.   86.  143.   38.
   92.   92.   92.  105.   83.   92.   98.   63.   70.  236.   78.   71.
   51.   92.   22.   63.   87.   17.   46.   46.  122.   52.   41.  140.
   77.   53.  122.   32.  109.   73.   51.   36.   26.  129.   92.  118.
  214.   73.   31.   92.  294.   57.   54.   67.   47.  134.   91.  117.
   92.   86.   78.   94.  113.   63.   92.   92.  249.   66.   35.  121.
   23.  101.   77.   72.   80.  254.   50.   86.  160.   87.  207.  102.
   57.   47.   81.   87.   64.   82.   92.   92.   76.   22.   92.  151.
  111.   92.  255.   77.   85.   70.   87.   92.  110.  166.   92.   32.
  115.   50.   58.   92.   92.  158.   92.  165.  110.   92.  159.   66.
   73.   92.  326.   92.   93.   92.   92.   90.  102.   43.   19.   58.
   93.   63.   92.  109.   35.   69.  105.   85.   61.   55.   78.  124.
  130.   92.   63.   76.   92.   92.   92.   94.   33.   92.   62.   28.
   92.   94.   88.   95.   92.   52.   37.   93.   92.   89.  134.  101.
   87.  158.   92.   62.   63.   81.   57.  150.   92.   92.   36.   92.
   92.   92.   92.   77.   53.   92.   92.   88.  102.   92.   57.   42.
   76.   70.   92.   91.  117.   50.   77.   62.   96.  146.   43.   33.
   70.  109.   53.  122.  123.  113.   92.  113.  109.   66.   92.   92.
   57.   92.  103.   66.   95.   55.  172.   38.   78.   74.  158.   96.
   92.  185.   92.   53.   57.   85.   92.  188.   92.  150.   46.   42.
   85.   58.   40.  126.   66.   98.   92.   78.  161.   92.   92.   92.
  178.   74.   33.   81.   84.  207.  111.   41.   77.  109.   93.   78.
  122.   92.   54.   68.   95.  119.   92.   92.   59.   92.   32.   44.
  108.   49.   55.   92.   21.   92.   92.   79.   73.   92.  111.   27.
   52.   54.   34.   36.  116.   74.  159.  126.   56.  219.   23.   63.
  104.  145.   63.   64.  115.   82.   48.   44.   69.   92.   74.   83.
   54.   26.   92.   92.   80.  119.   57.   75.   92.   41.  212.   92.
   50.   92.  100.   86.  110.   51.   78.  164.  175.   92.   97.   77.
  122.   69.   90.  108.   92.   92.  122.   84.   78.   75.   92.   63.
   58.   73.   92.   95.   92.   73.   73.   56.   45.   89.   92.  116.
   51.   92.  114.   93.   92.   92.   43.   73.   71.   94.   45.   81.
   57.  100.  129.   92.  307.   99.   34.  171.   26.  100.   92.  101.
  102.  133.   92.   84.   50.   85.  120.   94.   54.   32.   91.  103.
  115.   41.   23.   92.   65.   63.   44.   43.   67.   59.  116.   99.
   92.   80.   85.   47.   49.  111.   85.   29.   73.   92.   73.   91.
  117.  110.   77.   92.   55.   64.   88.  119.  117.   65.   38.   36.
  100.   92.   50.  100.  157.   92.   92.  125.   40.   46.  101.  308.
   67.   93.   92.   85.  184.   49.   47.  185.   80.   78.   95.   55.
   31.   86.  126.   92.  307.   83.   75.   41.   92.   47.   56.   43.
   67.  187.   36.   95.   92.  109.   82.  113.   56.   79.   38.  100.
   72.   92.   92.   43.  113.   46.   92.   63.  122.  111.   86.   92.
   70.   91.   81.   88.   92.   76.  110.   92.   78.   77.  106.   25.
   92.   43.   47.   72.   74.  140.   92.   92.   95.   78.   32.   38.
  155.  212.   64.  116.   84.  214.   76.  121.   85.   83.   92.   54.
   32.   73.   80.   85.  307.   92.   92.   64.  113.  106.   42.   43.
   65.   91.   99.   99.   83.   92.   84.  114.   92.   92.   52.  358.
   92.  130.   93.   92.   92.  107.  160.   92.  108.  100.   58.   92.
  229.  110.   93.   92.   92.   83.   68.   66.  111.   90.   30.  130.
   55.  185.  113.   49.  308.   92.   86.  122.   92.   66.   74.   77.
  117.   56.   77.   92.   64.  115.   61.   53.  124.   63.   90.   37.
   74.   77.  109.   74.   92.  116.   75.   51.   41.   92.   60.   51.
  141.   92.   92.   92.   92.   65.   73.]

In [22]:
#accuracy_score(test_df1.aqi,predict_rfc)
#accuracy_score(test_df1.aqi,predict_rfc.round(), normalize=False)
from sklearn.metrics import mean_absolute_error
mean_absolute_error(test_df1.aqi,predict_rfc, multioutput='raw_values')
#mean_absolute_error(test_df1.aqi,predict_rfc.round())
#mean_absolute_error(test_df1.aqi,predict_rfc.round(),multioutput=[0.3, 0.7])

array([ 2.70888662])

In [23]:
#print(classification_report(test_df1.aqi,predict_rfc))
#print(test_df1)
#print(predict_rfc)

c=0
import math
predictionsArr = np.asarray(predict_rfc, dtype="|f8")
realArr = np.asarray(test_df1.aqi, dtype="|f8")

for x in range(0,len(predictionsArr)):
    c += math.fabs((predictionsArr[x]-realArr[x]))
print(100 - c/len(predict_rfc))
c=0
for x in range(0,len(predictionsArr)):
    c += (math.fabs((predictionsArr[x]-realArr[x]))/realArr[x])*100
print(100 - c/len(predict_rfc))

97.29111338100103
96.7651145406