In [1]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.datasets import make_classification
#from sklearn.ensemble import DecisionTreeRegressor
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import numpy as np
import string
import csv
import sys

C:\Users\Sohrab-PC\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
kdd_info = pd.read_csv('Original.csv')

In [3]:
kdd_info.head()
kdd_info.count()

province        3262
city            3262
city_code       3262
station         3262
station_code    3262
aqi             2657
so2_24h         2929
no2_24h         2929
co_24h          2929
o3_24h          2909
o3_8h_24h       2909
pm2_5_24h       2929
pm10_24h        2929
pubtime         3262
dtype: int64

In [4]:
kdd_info.describe()

,city_code,station_code,aqi,so2_24h,no2_24h,co_24h,o3_24h,o3_8h_24h,pm2_5_24h,pm10_24h,pubtime
count,3262.0,3262.000000,2657.000000,2929.000000,2929.000000,2929.000000,2909.000000,2909.000000,2929.000000,2929.000000,3262.000000
mean,140100.0,1085.021153,87.702296,65.141004,42.379993,1.461304,93.973874,77.340323,62.843974,117.454763,42550.908645
std,0.0,2.579110,48.511168,73.739968,22.691550,0.860172,52.512336,44.937987,53.403633,77.080604,104.941176
min,140100.0,1081.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,42370.000000
25%,140100.0,1083.000000,56.000000,19.000000,27.000000,0.854000,53.000000,41.000000,28.000000,64.000000,42460.000000
50%,140100.0,1085.000000,78.000000,36.000000,39.000000,1.236000,85.000000,73.000000,48.000000,101.000000,42551.000000
75%,140100.0,1087.000000,106.000000,81.000000,54.000000,1.841000,128.000000,106.000000,77.000000,148.000000,42641.000000
max,140100.0,1089.000000,361.000000,582.000000,141.000000,5.513000,303.000000,232.000000,414.000000,541.000000,42735.000000

In [5]:
kdd_info.shape
#train.drop('aqi',axis=1, inplace=True)
#kdd_info.drop('pubtime', axis=1, inplace=True)
#kdd_info.drop('city_code', axis=1, inplace=True)
#kdd_info.drop('station_code', axis=1, inplace=True)
kdd_info.drop('station', axis=1, inplace=True)
kdd_info.drop('city', axis=1, inplace=True)
kdd_info.drop('province', axis=1, inplace=True)
kdd_info.drop('o3_8h_24h', axis=1, inplace=True)
kdd_info.count()

city_code       3262
station_code    3262
aqi             2657
so2_24h         2929
no2_24h         2929
co_24h          2929
o3_24h          2909
pm2_5_24h       2929
pm10_24h        2929
pubtime         3262
dtype: int64

In [6]:
imputed_DF = kdd_info
imputed_DF = imputed_DF.dropna()
'''
from sklearn.preprocessing import Imputer

imp = Imputer(missing_values='NaN', strategy='mean', axis=1)
#imputed_DF = pd.DataFrame(imp.fit_transform(kdd_info))
imputed_DF['aqi'] = pd.DataFrame(imp.fit_transform(imputed_DF['aqi']).ravel())
imputed_DF['so2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['so2_24h']).ravel())
imputed_DF['no2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['no2_24h']).ravel())
imputed_DF['co_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['co_24h']).ravel())
imputed_DF['o3_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['o3_24h']).ravel())
imputed_DF['pm2_5_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm2_5_24h']).ravel())
imputed_DF['pm10_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm10_24h']).ravel())

#Converting float pubtime to DateTime format
#imputed_DF['pubtime'] = pd.to_datetime(imputed_DF['pubtime'], format='%m/%d/%Y')
#imputed_DF['pubtime'] = imputed_DF['pubtime'].dt.total_seconds()

imputed_DF.columns = kdd_info.columns
imputed_DF.index = kdd_info.index
imputed_DF.count()
imputed_DF.count()

#kdd_info.describe()
'''

"\nfrom sklearn.preprocessing import Imputer\n\nimp = Imputer(missing_values='NaN', strategy='mean', axis=1)\n#imputed_DF = pd.DataFrame(imp.fit_transform(kdd_info))\nimputed_DF['aqi'] = pd.DataFrame(imp.fit_transform(imputed_DF['aqi']).ravel())\nimputed_DF['so2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['so2_24h']).ravel())\nimputed_DF['no2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['no2_24h']).ravel())\nimputed_DF['co_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['co_24h']).ravel())\nimputed_DF['o3_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['o3_24h']).ravel())\nimputed_DF['pm2_5_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm2_5_24h']).ravel())\nimputed_DF['pm10_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm10_24h']).ravel())\n\n#Converting float pubtime to DateTime format\n#imputed_DF['pubtime'] = pd.to_datetime(imputed_DF['pubtime'], format='%m/%d/%Y')\n#imputed_DF['pubtime'] = imputed_DF['pubtime'].dt.total_seconds()\n\nimputed_DF.columns = kdd_info.columns\nimputed_DF.index = kdd_info.index\nimputed_DF.count()\nimputed_DF.count()\n\n#kdd_info.describe()\n"

In [7]:
imputed_DF.count()

city_code       2637
station_code    2637
aqi             2637
so2_24h         2637
no2_24h         2637
co_24h          2637
o3_24h          2637
pm2_5_24h       2637
pm10_24h        2637
pubtime         2637
dtype: int64

In [8]:
train, test = train_test_split(imputed_DF, test_size = 0.3)

train.to_csv('new1_train_data.csv')
test.to_csv('new_test_data.csv')

In [9]:
train.shape

(1845, 10)

In [10]:
train = train.dropna()
train.shape

(1845, 10)

In [11]:
train.head(5)

,city_code,station_code,aqi,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,pubtime
434,140100,1086,43.0,75.0,39.0,3.109,45.0,27.0,45.0,42401
1202,140100,1086,78.0,36.0,42.0,0.711,100.0,37.0,106.0,42503
1790,140100,1089,63.0,13.0,32.0,1.167,189.0,29.0,58.0,42568
1577,140100,1083,32.0,16.0,11.0,0.349,100.0,12.0,30.0,42545
737,140100,1089,161.0,81.0,66.0,2.115,91.0,122.0,196.0,42451

In [12]:
train.columns

Index(['city_code', 'station_code', 'aqi', 'so2_24h', 'no2_24h', 'co_24h',
       'o3_24h', 'pm2_5_24h', 'pm10_24h', 'pubtime'],
      dtype='object')

In [13]:
# creating response vector to train our model
#response_vector=pd.DataFrame(np.array(train['aqi']),columns=['aqi'])
response_vector=pd.DataFrame(train['aqi'],columns=['aqi'])
response_vector.loc[response_vector['aqi']==1]
response_vector.head(30)
response_vector.count()

aqi    1845
dtype: int64

In [14]:
test_df1=pd.read_csv('new_test_data.csv')
test_df1.describe()

,Unnamed: 0,city_code,station_code,aqi,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,pubtime
count,792.000000,792.0,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000
mean,1463.152778,140100.0,1085.273990,88.467172,56.385101,39.790404,1.385231,98.376263,54.948232,109.820707,42532.238636
std,879.936441,0.0,2.416113,49.870289,63.320903,21.127187,0.796800,52.183498,42.566478,70.414957,97.649234
min,2.000000,140100.0,1081.000000,19.000000,3.000000,2.000000,0.183000,1.000000,4.000000,8.000000,42370.000000
25%,673.750000,140100.0,1083.000000,54.750000,18.000000,25.000000,0.828750,59.000000,25.000000,59.750000,42444.750000
50%,1473.500000,140100.0,1085.000000,78.500000,33.500000,38.000000,1.174500,88.000000,44.000000,95.000000,42533.500000
75%,2231.250000,140100.0,1087.000000,105.250000,68.250000,51.000000,1.718750,133.000000,70.000000,138.000000,42617.250000
max,2960.000000,140100.0,1089.000000,358.000000,430.000000,118.000000,5.146000,253.000000,307.000000,458.000000,42699.000000

In [15]:
train.drop('aqi',axis=1, inplace=True)
train.shape

(1845, 9)

In [16]:
train.head(5)

,city_code,station_code,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,pubtime
434,140100,1086,75.0,39.0,3.109,45.0,27.0,45.0,42401
1202,140100,1086,36.0,42.0,0.711,100.0,37.0,106.0,42503
1790,140100,1089,13.0,32.0,1.167,189.0,29.0,58.0,42568
1577,140100,1083,16.0,11.0,0.349,100.0,12.0,30.0,42545
737,140100,1089,81.0,66.0,2.115,91.0,122.0,196.0,42451

In [17]:
test.columns

Index(['city_code', 'station_code', 'aqi', 'so2_24h', 'no2_24h', 'co_24h',
       'o3_24h', 'pm2_5_24h', 'pm10_24h', 'pubtime'],
      dtype='object')

In [18]:
test.drop('aqi',axis=1, inplace=True)
test.shape

C:\Users\Sohrab-PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

(792, 9)

In [19]:
from sklearn.tree import DecisionTreeRegressor
rfc=DecisionTreeRegressor()

In [20]:
rfc.fit(train,response_vector.values.ravel())
#rfc.fit(train,response_vector)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [21]:
predict_rfc =rfc.predict(test)

In [22]:
predict_rfc.shape
print(predict_rfc)

[ 152.   65.  158.  109.  199.   52.   58.  204.   69.  112.   87.   44.
  149.   99.   47.   64.  111.   88.   54.   91.   54.   44.   27.   36.
   71.  104.   73.   71.   74.   33.   62.   92.  114.   63.   59.  170.
   78.   65.   50.   60.   64.   43.   74.   88.  130.   51.   85.  100.
   61.   41.   21.  112.   59.  167.   62.  103.  131.   64.  136.   75.
   93.  160.   52.   60.  100.   26.   53.   76.   44.   53.   77.  219.
   56.   53.   88.   40.   67.   61.  101.   87.   71.  220.  163.   59.
   87.   20.  155.   61.   92.  106.   61.   92.   78.  151.   66.   95.
   36.   48.   56.  100.   94.   47.   54.  132.   43.  114.   84.   71.
   38.   60.   98.   51.  139.   21.   76.   36.   98.  148.   81.  153.
   21.   90.   80.   41.  102.   67.  116.   82.  144.   78.  103.  283.
   51.   59.  205.  175.   62.   36.   99.   80.   49.  139.   69.  166.
   53.   77.   25.   91.   47.   75.   54.   90.  156.   90.   44.  272.
  239.  120.  104.   70.   46.   95.   55.   70.   24.   99.   56.   95.
  108.   81.   95.  122.   89.  129.   97.   28.  174.   63.   52.   80.
   65.   53.   25.   48.   59.  123.   24.   56.   66.   38.  103.   92.
  129.   63.   49.  101.  102.   70.   79.  165.  128.  224.   72.   44.
   33.   63.   52.  104.   67.   47.  141.   57.  204.   99.  218.   33.
  116.   48.   42.   92.  141.   95.   62.   78.   68.   49.   56.  166.
  286.  136.   43.   58.  174.  286.   38.  103.   73.   40.   49.   95.
  106.   24.   25.   61.   86.   76.   77.   77.   85.  105.   60.   30.
   55.   82.   78.   96.   36.  218.  115.  118.   36.  116.   46.  234.
   85.   85.   91.   78.   76.   79.   77.  219.   77.   90.   75.   75.
  122.   63.   67.  175.  207.   56.   27.  103.   45.   42.  114.   21.
  114.  119.  114.   65.  114.  106.   33.   62.   40.   61.   78.   98.
   59.   38.  105.  104.   63.  110.   95.   81.   65.  235.   91.   97.
  211.   81.  149.  309.   82.   36.   60.  205.  160.  160.  100.   36.
   67.   87.   51.   79.   42.  121.  130.   29.   77.   62.   83.  170.
   50.  106.   94.   24.   90.   55.   29.  152.  272.  100.  133.   76.
  220.   77.  120.   31.   48.  103.  178.   89.  102.   56.   82.   56.
  183.   89.   25.   44.   92.  102.   60.   98.   74.   97.   94.   38.
   30.   67.   68.  112.   72.   84.   86.   27.  134.   35.   38.   96.
   97.   92.   27.  102.   25.   41.   49.   58.   81.   70.   40.  219.
   69.   55.   54.   79.  151.  132.   55.  110.   94.  152.  120.   30.
   75.   73.   37.  173.   60.   87.  108.   83.   55.   94.   79.   59.
   79.   64.   64.   85.   73.  106.   39.  104.  324.  140.  211.   82.
  136.   99.   91.   75.   80.   88.   69.  129.  100.   71.   72.   50.
  105.   66.  116.   73.   36.   79.   84.  102.  149.   60.   94.   62.
   64.   92.   59.   75.  120.   46.   24.   99.  211.   44.  185.  170.
   88.  102.   64.   27.  110.   72.   33.   52.  118.   92.   83.   84.
  170.   72.   59.   89.   42.  141.   75.   44.  106.   86.   65.   98.
   71.   32.  149.   87.   32.   35.  260.  101.   41.  149.  155.  120.
  110.   41.   61.   94.   79.   65.  109.   29.   49.  120.   69.   45.
  105.   78.  224.   23.   55.   84.   26.   60.   38.   64.   68.   46.
   33.  144.   47.   45.  153.  128.   51.  103.   64.   27.  111.   74.
   96.   58.   79.  140.   68.   91.   62.   35.  175.   51.  108.   74.
  133.   28.   48.  100.   50.   41.   56.   91.  113.   86.   61.   91.
   68.   52.   55.   91.  175.   17.   86.   69.   74.   56.  118.   76.
   25.   69.   62.   67.   51.   93.  160.   71.  251.  101.   63.   62.
  220.   29.   29.   45.  111.   51.   46.  183.  175.  113.   19.   63.
  121.   64.  152.  105.  286.   83.  224.   99.   85.   94.   26.   80.
   62.   98.   50.  111.  220.  103.   91.   49.   96.  133.  165.   88.
   87.   99.   33.   98.  139.   41.  111.   93.  115.   75.   51.  203.
   44.   94.  109.   42.  109.   89.   38.  170.   87.   71.   45.   49.
   37.  116.   66.   88.   33.   87.   77.   70.   84.   28.   44.   96.
  105.   83.   45.  220.   59.  327.   68.   50.   56.   95.   21.   76.
   83.   80.   36.   33.   81.   65.  170.   47.   95.   54.  104.   87.
   63.   51.   83.  105.   92.  170.   44.   92.   63.  121.  112.   73.
   59.   55.   26.   94.   60.   81.   61.   42.  124.   73.  107.  174.
   71.   52.   72.   61.   72.  101.   55.   33.  178.   19.   64.  136.
   77.   63.   71.   75.  160.   51.   85.  175.  163.   99.   55.   48.
  135.   81.   54.  135.  187.   46.  155.   48.   65.   90.  113.  132.
   26.   84.   65.   21.   59.   61.   36.   38.   55.  242.  180.   55.
   72.   79.   47.   95.   70.   47.   84.   88.   40.   70.   44.   26.
   84.   82.  122.  116.   95.   78.   63.   96.   83.   46.   80.  294.
  103.   84.  127.  181.   87.   89.   43.   88.  122.   36.  152.   50.]

In [23]:
#accuracy_score(test_df1.aqi,predict_rfc)
#accuracy_score(test_df1.aqi,predict_rfc.round(), normalize=False)
from sklearn.metrics import mean_absolute_error
mean_absolute_error(test_df1.aqi,predict_rfc, multioutput='raw_values')
#mean_absolute_error(test_df1.aqi,predict_rfc.round())
#mean_absolute_error(test_df1.aqi,predict_rfc.round(),multioutput=[0.3, 0.7])

array([ 3.37247475])

In [24]:
#print(classification_report(test_df1.aqi,predict_rfc))
#print(test_df1)
#print(predict_rfc)

c=0
import math
predictionsArr = np.asarray(predict_rfc, dtype="|f8")
realArr = np.asarray(test_df1.aqi, dtype="|f8")

for x in range(0,len(predictionsArr)):
    c += math.fabs((predictionsArr[x]-realArr[x]))
print(100 - c/len(predict_rfc))
c=0
for x in range(0,len(predictionsArr)):
    c += (math.fabs((predictionsArr[x]-realArr[x]))/realArr[x])*100
print(100 - c/len(predict_rfc))

96.62752525252526
95.9584633393