In [1]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
#from sklearn.ensemble import DecisionTreeRegressor
#from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import numpy as np
import string
import csv
import sys

#### RFC
from sklearn.model_selection import train_test_split
from sklearn.cross_validation import KFold
#from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

C:\Users\Sohrab-PC\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
kdd_info = pd.read_csv('Mean-2016.csv')

In [3]:
kdd_info.head()
kdd_info.count()

province        3262
city            3262
city_code       3262
station         3262
station_code    3262
aqi             3262
so2_24h         3262
no2_24h         3262
co_24h          3262
o3_24h          3262
o3_8h_24h       3262
pm2_5_24h       3262
pm10_24h        3262
pubtime         3262
dtype: int64

In [4]:
kdd_info.describe()

,city_code,station_code,aqi,so2_24h,no2_24h,co_24h,o3_24h,o3_8h_24h,pm2_5_24h,pm10_24h,pubtime
count,3262.0,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000
mean,140100.0,1085.021153,89.063458,65.525138,42.598712,1.470230,93.976701,77.303495,63.246168,118.125690,42550.908645
std,0.0,2.579110,43.257854,69.686074,21.243320,0.806947,49.588748,42.436227,50.362066,72.454595,104.941176
min,140100.0,1081.000000,17.000000,2.000000,2.000000,0.137000,1.000000,1.000000,3.000000,7.000000,42370.000000
25%,140100.0,1083.000000,62.000000,21.000000,28.250000,0.904000,57.000000,44.250000,31.000000,69.000000,42460.000000
50%,140100.0,1085.000000,90.000000,44.000000,42.000000,1.345000,94.000000,77.000000,54.000000,111.000000,42551.000000
75%,140100.0,1087.000000,98.000000,74.000000,52.000000,1.737000,123.000000,102.000000,72.000000,141.000000,42641.000000
max,140100.0,1089.000000,361.000000,582.000000,141.000000,5.513000,303.000000,232.000000,414.000000,541.000000,42735.000000

In [5]:
kdd_info.shape
kdd_info.drop('station', axis=1, inplace=True)
kdd_info.drop('city', axis=1, inplace=True)
kdd_info.drop('province', axis=1, inplace=True)
kdd_info.drop('o3_8h_24h', axis=1, inplace=True)
kdd_info.count()

city_code       3262
station_code    3262
aqi             3262
so2_24h         3262
no2_24h         3262
co_24h          3262
o3_24h          3262
pm2_5_24h       3262
pm10_24h        3262
pubtime         3262
dtype: int64

In [6]:
imputed_DF = kdd_info
'''
from sklearn.preprocessing import Imputer

imp = Imputer(missing_values='NaN', strategy='mean', axis=1)
#imputed_DF = pd.DataFrame(imp.fit_transform(kdd_info))
imputed_DF['aqi'] = pd.DataFrame(imp.fit_transform(imputed_DF['aqi']).ravel())
imputed_DF['so2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['so2_24h']).ravel())
imputed_DF['no2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['no2_24h']).ravel())
imputed_DF['co_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['co_24h']).ravel())
imputed_DF['o3_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['o3_24h']).ravel())
imputed_DF['pm2_5_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm2_5_24h']).ravel())
imputed_DF['pm10_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm10_24h']).ravel())

#Converting float pubtime to DateTime format
#imputed_DF['pubtime'] = pd.to_datetime(imputed_DF['pubtime'], format='%m/%d/%Y')
#imputed_DF['pubtime'] = imputed_DF['pubtime'].dt.total_seconds()

imputed_DF.columns = kdd_info.columns
imputed_DF.index = kdd_info.index
imputed_DF.count()
imputed_DF.count()

#kdd_info.describe()
'''

"\nfrom sklearn.preprocessing import Imputer\n\nimp = Imputer(missing_values='NaN', strategy='mean', axis=1)\n#imputed_DF = pd.DataFrame(imp.fit_transform(kdd_info))\nimputed_DF['aqi'] = pd.DataFrame(imp.fit_transform(imputed_DF['aqi']).ravel())\nimputed_DF['so2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['so2_24h']).ravel())\nimputed_DF['no2_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['no2_24h']).ravel())\nimputed_DF['co_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['co_24h']).ravel())\nimputed_DF['o3_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['o3_24h']).ravel())\nimputed_DF['pm2_5_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm2_5_24h']).ravel())\nimputed_DF['pm10_24h'] = pd.DataFrame(imp.fit_transform(imputed_DF['pm10_24h']).ravel())\n\n#Converting float pubtime to DateTime format\n#imputed_DF['pubtime'] = pd.to_datetime(imputed_DF['pubtime'], format='%m/%d/%Y')\n#imputed_DF['pubtime'] = imputed_DF['pubtime'].dt.total_seconds()\n\nimputed_DF.columns = kdd_info.columns\nimputed_DF.index = kdd_info.index\nimputed_DF.count()\nimputed_DF.count()\n\n#kdd_info.describe()\n"

In [7]:
#train, test = train_test_split(imputed_DF, test_size = 0.2)

train, test = train_test_split(imputed_DF, test_size = 0.3, random_state = 5)

train.to_csv('new1_train_data.csv')
test.to_csv('new_test_data.csv')

In [8]:
train.shape

(2283, 10)

In [9]:
train = train.dropna()
train.shape

(2283, 10)

In [10]:
train.head(5)

,city_code,station_code,aqi,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,pubtime
3255,140100,1089,92,243,77,2.667,11,217,298,42729
87,140100,1089,69,190,55,2.490,72,46,85,42395
447,140100,1081,50,41,25,0.770,69,23,54,42425
1630,140100,1082,92,65,42,1.461,94,63,117,42551
3057,140100,1087,92,339,76,1.879,41,84,178,42710

In [11]:
train.columns

Index(['city_code', 'station_code', 'aqi', 'so2_24h', 'no2_24h', 'co_24h',
       'o3_24h', 'pm2_5_24h', 'pm10_24h', 'pubtime'],
      dtype='object')

In [12]:
# creating response vector to train our model
#response_vector=pd.DataFrame(np.array(train['aqi']),columns=['aqi'])
response_vector=pd.DataFrame(train['aqi'],columns=['aqi'])
response_vector.loc[response_vector['aqi']==1]
response_vector.head(30)
response_vector.count()

aqi    2283
dtype: int64

In [13]:
test_df1=pd.read_csv('new_test_data.csv')
test_df1.describe()

,Unnamed: 0,city_code,station_code,aqi,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,pubtime
count,979.000000,979.0,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000
mean,1628.188968,140100.0,1084.908069,88.094995,65.139939,42.244127,1.463163,93.728294,63.219612,117.290092,42550.588355
std,939.381644,0.0,2.559662,44.810008,69.573223,22.265562,0.837014,51.511268,53.445592,75.776469,104.927792
min,0.000000,140100.0,1081.000000,18.000000,3.000000,2.000000,0.196000,1.000000,3.000000,7.000000,42370.000000
25%,823.500000,140100.0,1083.000000,59.000000,20.000000,27.000000,0.892000,55.000000,30.000000,67.000000,42461.500000
50%,1614.000000,140100.0,1085.000000,89.000000,43.000000,41.000000,1.289000,90.000000,52.000000,108.000000,42549.000000
75%,2427.000000,140100.0,1087.000000,98.000000,72.000000,52.000000,1.749000,124.000000,71.000000,142.000000,42639.000000
max,3261.000000,140100.0,1089.000000,361.000000,430.000000,141.000000,5.513000,273.000000,381.000000,541.000000,42735.000000

In [14]:
#train.drop('aqi',axis=1, inplace=True)
train.shape

(2283, 10)

In [15]:
train.head(5)

,city_code,station_code,aqi,so2_24h,no2_24h,co_24h,o3_24h,pm2_5_24h,pm10_24h,pubtime
3255,140100,1089,92,243,77,2.667,11,217,298,42729
87,140100,1089,69,190,55,2.490,72,46,85,42395
447,140100,1081,50,41,25,0.770,69,23,54,42425
1630,140100,1082,92,65,42,1.461,94,63,117,42551
3057,140100,1087,92,339,76,1.879,41,84,178,42710

In [16]:
test.columns

Index(['city_code', 'station_code', 'aqi', 'so2_24h', 'no2_24h', 'co_24h',
       'o3_24h', 'pm2_5_24h', 'pm10_24h', 'pubtime'],
      dtype='object')

In [17]:
test.drop('aqi',axis=1, inplace=True)
test.shape

C:\Users\Sohrab-PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

(979, 9)

In [18]:
model = RandomForestClassifier(n_estimators=100,min_samples_split=25)
print ("Random Forest: Using all relevant features(Training data)")

Random Forest: Using all relevant features(Training data)

In [19]:
from sklearn import utils
Y_train = np.asarray(train['aqi'], dtype="|S8")
#print(utils.multiclass.type_of_target(Y_train))
#print(utils.multiclass.type_of_target(train.aqi))
train.drop('aqi',axis=1, inplace=True)
#print(Y_train)
#print(train)
model.fit(train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=25, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [20]:
predictions = model.predict(test)
#print(predictions)
#print(test_df1.aqi)

In [21]:
newarray = np.asarray(test_df1['aqi'], dtype="|S8")
#print(newarray)

In [22]:
# Print accuracy
accuracy = metrics.accuracy_score(predictions, newarray,  normalize=True)
print("Accuracy over Testing Data: %s" % "{0:.3%}".format(accuracy))

Accuracy over Testing Data: 27.477%

In [23]:
#predict_rfc =rfc.predict(test)
from sklearn.metrics import f1_score
f1_score(newarray, predictions, average='micro')

0.27477017364657813

In [24]:
c=0
import math
predictionsArr = np.asarray(predictions, dtype="|f8")
realArr = np.asarray(newarray, dtype="|f8")

for x in range(0,len(predictionsArr)):
    c += math.fabs((predictionsArr[x]-realArr[x]))
print(100 - c/len(predictions))
c=0
for x in range(0,len(predictionsArr)):
    c += (math.fabs((predictionsArr[x]-realArr[x]))/realArr[x])*100
print(100 - c/len(predictions))

93.84576098059244
94.4508608363